// 此處將創建新的頁面組，從而重啟頁碼排序。

// 本樣式表默認的層級排序如下：
// cover 用來生成 封面，尚未设定
// preface 用來生成 前言，默認重啟頁碼，尚未设定
// tocall 用來生成 目錄，默認重啟頁碼，尚未设定
// documents 用來生成所有的正文，默認重啟頁碼
// unidoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// bidoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// tridoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// quadrdoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// qunitdoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// sexdoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// septdoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// octdoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// nondoc 用來生成次一層級的章節，頁碼從前，默認隱藏
// 使用了 十种 章节名称，每个章节名称都可以通过设定来更改页码、页眉、页脚、是否始终居左页


@page tocall {
    margin: 2cm;
    padding: 0;
    bleed: 3mm;
  }
  
  @page tocall:left {
    @bottom-left {
      content: counter(page, lower-roman);
      font-family: var(--font-fangsong);
    }
  }
  
  @page tocall:right {
    @bottom-right {
      content: counter(page, lower-roman);
      font-family: var(--font-fangsong);
    }
  }
  
  .cover {
    page: cover;
    counter-reset: page 1;
  }
  
  .preface {
    page: preface;
    counter-reset: page 1;
  }
  
  @page preface:right {
    .page_right_style_pagination();
  }
  
  @page preface:left {
    .page_left_style_pagination();
  }

// 在不需要使用多个样式的章节时，可以默认使用 docments 页面组
.documents {
  page: documents;
  break-before: right;
  -prince-page-group: start;
  counter-reset: page 1;
}

@page documents:right {
  .page_right_style_pagination();
}

@page documents:left {
  .page_left_style_pagination();
}

@page documents:first {
  .page_docs_first();
}

// 第一种样式的章节，默认并未和 documents 页面组有所区别。可自行设定

.unidoc {
  page: unidoc;
  break-before: right;
  -prince-page-group: start;
}

@page unidoc:right {
  .page_right_style_pagination();
}

@page unidoc:left {
  .page_left_style_pagination();
}

@page unidoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.bidoc {
  page: bidoc;
  break-before: right;
  -prince-page-group: start;
}

@page bidoc:right {
  .page_right_style_pagination();
}

@page bidoc:left {
  .page_left_style_pagination();
}

@page bidoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.tridoc {
  page: tridoc;
  break-before: right;
  -prince-page-group: start;
}

@page tridoc:right {
  .page_right_style_pagination();
}

@page tridoc:left {
  .page_left_style_pagination();
}

@page tridoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.quadrdoc {
  page: quadrdoc;
  break-before: right;
  -prince-page-group: start;
}

@page quadrdoc:right {
  .page_right_style_pagination();
}

@page quadrdoc:left {
  .page_left_style_pagination();
}

@page quadrdoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.qunitdoc {
  page: qunitdoc;
  break-before: right;
  -prince-page-group: start;
}

@page qunitdoc:right {
  .page_right_style_pagination();
}

@page qunitdoc:left {
  .page_left_style_pagination();
}

@page qunitdoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.sexdoc {
  page: sexdoc;
  break-before: right;
  -prince-page-group: start;
}

@page sexdoc:right {
  .page_right_style_pagination();
}

@page sexdoc:left {
  .page_left_style_pagination();
}

@page sexdoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.septdoc {
  page: septdoc;
  break-before: right;
  -prince-page-group: start;
}

@page septdoc:right {
  .page_right_style_pagination();
}

@page septdoc:left {
  .page_left_style_pagination();
}

@page septdoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.octdoc {
  page: octdoc;
  break-before: right;
  -prince-page-group: start;
}

@page octdoc:right {
  .page_right_style_pagination();
}

@page octdoc:left {
  .page_left_style_pagination();
}

@page octdoc:first {
  .page_docs_first();
}

// 又一种样式的章节

.nondoc {
  page: nondoc;
  break-before: right;
  -prince-page-group: start;
}

@page nondoc:right {
  .page_right_style_pagination();
}

@page nondoc:left {
  .page_left_style_pagination();
}

@page nondoc:first {
  .page_docs_first();
}

// 旋转 90° 的页面组

div.vertical_contents {
  page: vertical_contents;
}

@page vertical_contents {
  -prince-rotate-body: landscape;
  -prince-shrink-to-fit: auto;
  -prince-page-group: start;
}

@page vertical_contents:right {
  .page_vertical_right_pagination();
}

@page vertical_contents:left {
  .page_vertical_left_pagination();
}

// 清除空白页的页眉，仅保留页码

@page cover:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page preface:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page tocall:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page documents:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page unidoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page bidoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page tridoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page quadrdoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page qunitdoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page sexdoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page septdoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page octdoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}

@page nondoc:blank {
  @top-left {
    content: normal;
  }

  @top-right {
    content: normal;
  }
}