@page sidenote:right {
  .page_right_style_pagination();

  @rightnote {
    width: 25%;
  }
}

@page sidenote:left {
  .page_left_style_pagination();

  @leftnote {
    width: 25%;
  }
}

.sidenote {
  page: sidenote;
  -prince-page-group: start;
}

// 边注相关
note {
  -prince-float-reference: outsidenote;
  -prince-float-placement: align-bottom;
  text-decoration: wavy;
  text-decoration-color: var(--theme-color);
  font-family: var(--font-quota-cn);
  padding: 1rem;
  text-align: left;
  text-indent: 0;

  @media print {
    padding-top: .5rem;
    margin-bottom: 1.5rem;
    border: var(--border-color-1);
    border-top: var(--border-left);
    border-radius: 5px;
    text-decoration: none;

    &::before {
      content: "Sidenote";
      display: inline-block;
      background: var(--theme-color);
      color: var(--bg-body);
      font: var(--font-code);
      padding: 1px 2px;
      border-radius: 5px;
      text-indent: 0;
    }
  }
}