@media print {

  @page sidenote:right {
    .page_right_style_pagination();

    @rightnote {
      width: 25%;
    }
  }

  @page sidenote:left {
    .page_left_style_pagination();

    @leftnote {
      width: 25%;
    }
  }
}

.sidenote {
  page: sidenote;
  -prince-page-group: start;
}

// 边注相关
note {
  -prince-float-reference: outsidenote;
  -prince-float-placement: align-bottom;
  border-top: var(--border-left);
  padding-top: .5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-quota-cn);

  &::before {
    content: "Sidenote";
    position: relative;
    display: inline-block;
    background: var(--color-text);
    color: var(--bg-body);
    font: var(--font-code);
    padding: 1px 2px;
    border-radius: 5px;
  }

  .w {
    -prince-float: wide;
  }

  .wl {
    -prince-float: wide-left;
  }

  .wr {
    -prince-float: wide-right;
  }
}