// 特别设定

@media print {
  h1::after {
    display: inline-block;
    top: 2rem;
    right: -50%;
  }
}

// markdown footnote

.footnote-ref a,
blockquote .footnote-ref a {
  font: var(--font-code) !important;
}

blockquote *:not(.footnote-ref) {
  @media print {
    font-size: var(--kai-size);
  }
}

.fn {
  font-family: var(--font-fangsong) !important;
  font-size: 0.65rem;
  border-left: var(--border-base);
  border-color: var(--theme-color);
  border-width: var(--border-width-bold);
  margin-left: 4px;
  padding-left: 4px;

  em {
    font-family: var(--font-fangsong-jp) !important;
  }
}

@media print {
  .fn {
    float: footnote;
    line-height: 14pt;
    counter-increment: footnote;
    font-family: var(--font-fangsong);
    font-size: 9pt !important;
    padding-left: -4px;
    border-left: none !important;
    text-indent: 0;
    footnote-style-position: inside;

    &::footnote-call {
      content: "["counter(footnote) "]";
      font-size: 6pt;
      vertical-align: super;
      line-height: inherit;
    }

    &::footnote-marker {
      font-weight: normal;
    }
  }
}

// 错题集

div.choice {
  padding: 1rem 4px;
  border-top: var(--window-borderb);
  border-bottom: var(--window-borderb);

  h1,
  h2,
  h3 {
    display: inline-block;
    font-family: "DFPRareBook", "AppleMyungjo", "Apple Symbols", serif;
    font-size: 1.2rem;
    padding: 6px 8px;
    margin: 4px auto 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: var(--theme-color);
    color: whitesmoke;
    border-radius: 15px;
    min-width: 3rem;
  }

  h3 {
    font-size: 0.8rem;
    padding: 4px 6px;
    background-color: var(--theme-color-3);
  }

  hr {
    color: #41b349;
    height: 0;
    border: 1px dashed;
    margin: 4px;
  }

  hr:before,
  hr:after {
    content: '';
    display: none;
  }
}

// 古籍设定

.old_book {
  writing-mode: vertical-rl;
  height: 50rem;

  * {
    font-family: "ShinshuSeitenKaisho", "TH-Khaai-PPO", "tw-kai" !important;
    font-size: 26pt;
    line-height: 52pt !important;
  }

  p {
    margin-top: 5rem;
  }
}

// 分列设定

.col2 {
  columns: 2;

  .test {
    width: 100%;

    @media print {
      font-family: var(--font-text-jp);
    }

    ul,
    ol {
      margin-left: 0;
    }

    ul {
      list-style: upper-latin;
    }

    li {
      padding-left: 4px;

      @media print {
        font-family: var(--font-text-jp);
      }
    }

    li::marker {
      content: initial;
      font-family: var(--font-text-cn);
      list-style-type: upper-latin;
    }
  }

  .test:not(:first-child) {
    border-left: var(--border-base);
    margin-left: 1rem;
  }

  blockquote {
    width: 48%;
    border-left: none;

    blockquote {
      width: initial;
      border-left: var(--border-base);
      border-color: var(--theme-color);
      border-width: var(--border-width-bold);
    }
  }
}

// 字体更改

.markdown-preview.markdown-preview {

  .jp.song * {
    font-family: var(--font-song-jp);

    strong {
      font-family: var(--font-sem-cn);
      font-weight: var(--font-weight-medium);
      font-variation-settings: 'wght'var(--font-weight-medium);
    }
  }

  .jp.hei * {
    font-family: var(--font-hei-jp);
  }

  .jp.kai * {
    font-family: var(--font-kai-jp);
    font-size: var(--font-kai-size);
  }

  .cn.song * {
    font-family: var(--font-song-cn);
  }

  .cn.kai * {
    font-family: var(--font-kai-cn);
    font-size: var(--font-kai-size);

    em {
      font-family: var(--font-kai-jp);
    }
  }
}

.markdown-preview.markdown-preview {
  .admonition {
    padding: 0;
    padding-left: 1rem;
    box-shadow: none;
    border-left: none;
    border-top: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
    border-radius: 0px;
    font-family: var(--font-fangsong);

    p {
      &.admonition-title {
        margin: 0 !important;
        margin-left: -1rem !important;
        padding: .5rem 1rem .5rem 3.6rem;
        text-indent: 0;
        // border-bottom: none;
      }
    }

    em {
      font-family: var(--font-fangsong-jp);
    }

    blockquote {
      border: none;
      border-radius: 0px;
      border-left: var(--border-left);
    }

    li {
      font-family: var(--font-fangsong);

      em {
        font-family: var(--font-fangsong-jp);
      }
    }
  }

  .danger,
  .error,
  .bug {
    border-color: var(--theme-color);
  }

  .question,
  .help,
  .faq {
    border-color: var(--theme-color-opt);
  }

  .info,
  .todo {
    border-color: rgba(0, 184, 212, .8);
  }

  .summary,
  .abstract,
  .tldr {
    border-color: rgba(0, 176, 255, .8);
  }

  .hint,
  .tip {
    border-color: rgba(0, 191, 165, .8);
  }

  .success,
  .check,
  .done {
    border-color: rgba(0, 200, 83, .2);
  }

  .question,
  .help,
  .faq {
    border-color: rgba(100, 221, 23, .8);
  }

  .warning,
  .attention,
  .caution {
    border-color: rgba(255, 145, 0, .8);
  }

  .failure,
  .fail,
  .missing {
    border-color: rgba(255, 82, 82, .8);
  }

  .example,
  .snippet {
    border-color: rgba(0, 184, 212, .8);
  }

  .quote,
  .cite {
    border-color: rgba(158, 158, 158, .8);
  }

}

// 习题集
.markdown-preview.markdown-preview {
  div.ptb {
    font-family: var(--font-text-jp);

    table {
      table-layout: fixed;
      font-family: inherit;
    }

    tr,
    th,
    td {
      border: none !important;
      padding: 0;

      @media print {
        font-size: 10.5pt;
      }
    }

    th,
    td {
      padding: 2px;
    }
  }

  div.ptbb {
    font-family: var(--font-text-jp);
  }

  div.ptbb+table * {
    font-family: var(--font-text-jp);

    @media print {
      font-size: 10.5pt;
    }
  }
}


.comment {
  blockquote {

    ul,
    ol {
      li {
        font-family: inherit;
      }
    }
  }
}