// **********
// ?目录及打印目录
// **********

.toc {

  padding: 32px 0 48px 32px !important;
  page: tocall;
  counter-reset: page 1;
  break-before: right;

  @media screen and (min-width:1200px) {
    display: none;
  }

  h2 {
    font-family: var(--font-toc-title);

    &::before {
      content: none !important;
    }
  }

  ul,
  ol {
    list-style-type: upper-roman !important;

    @media screen and (max-width:1200px) {
      margin: 1rem auto;
      column-count: 2;
    }

    ul,
    ol {
      list-style-type: lower-roman !important;

      @media screen and (max-width:1200px) {
        margin: initial;
        column-count: 1;
      }

      ul,
      ol {
        list-style-type: disc !important;
      }
    }
  }

  a {
    display: inline-block;
    color: var(--color-link);
    margin: 0.2em 0;
    font-family: var(--font-toc);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  .toc .screen-only.list {
    margin-top: 2em
  }
}

@media print {
  .toc {
    columns: 2;

    h2 {
      padding: 15mm 0 15mm;
      font: italic 300 2.5rem var(--font-toc-title) !important;
      letter-spacing: 0.2em;
      text-transform: capitalize;

      &:after {
        display: block;
        content: "";
        width: 15mm;
        height: 1.5pt;
        border-top: 0.1pt solid var(--theme-color);
        margin: 5mm auto 0;
      }
    }

    ul:first-of-type,
    ol:first-of-type {
      list-style-type: lower-roman;
    }

    ol,
    ul {
      list-style: lower-roman;

      li {
        padding: 4px;
        text-align: justify;

        &::marker {
          content: " ";
        }

        a {
          font-family: "Times New Roman", var(--font-hei-cn);
          font-size: 12pt;
        }

        li {

          a {
            font-family: "Times New Roman", var(--fong-song-cn-print);
            font-size: 10.5pt;
          }

          li {

            a {
              font-family: "Times New Roman", var(--font-fangsong);
              font-size: 10.5pt;
            }
          }
        }
      }
    }

    a {
      text-transform: capitalize;
      border-bottom: none;
      color: var(--color-text) !important;

      &::after {
        content: leader('.') target-counter(attr(href), page);
        text-align: right;
      }
    }

    .head {
      display: table-header-group;

      div {
        display: table-cell;
        text-align: right
      }
    }

    ol,
    ul {
      li {

        // a[href="#btitum"],
        // a[href="#btitun"],
        // a[href="#btit3"],
        // a[href="#btit4"],
        // a[href="#btit5"],
        // a[href="#btit6"],
        // a[href="#btit7"],
        // a[href="#btit8"],
        // a[href="#btit9"],
        // a[href="#btit10"],
        a[href*="#btit"] {
          font-family: "Times New Roman", var(--fong-song-cn-print) !important;
          font-weight: 600 !important;
          font-size: 12.5pt !important;
          margin-left: -3rem;
          color: var(--theme-color) !important;

          &::before {
            padding-right: 2rem;
          }
        }

        a[href="#btitum"] {
          &::before {
            content: "第一章";
          }
        }

        a[href="#btitun"] {
          &::before {
            content: "第二章";
          }
        }

        a[href="#btit3"] {
          &::before {
            content: "第三章";
          }
        }

        a[href="#btit4"] {
          &::before {
            content: "第四章";
          }
        }

        a[href="#btit5"] {
          &::before {
            content: "第五章";
          }
        }

        a[href="#btit6"] {
          &::before {
            content: "第六章";
          }
        }

        a[href="#btit7"] {
          &::before {
            content: "第七章";
          }
        }

        a[href="#btit8"] {
          &::before {
            content: "第八章";
          }
        }

        a[href="#btit9"] {
          &::before {
            content: "第九章";
          }
        }

        a[href="#btit10"] {
          &::before {
            content: "第十章";
          }
        }

      }
    }
  }
}

h1[id*="btit"] {
  &::before {
    margin-right: 2rem;
  }
}

h1#btitum {
  &::before {
    content: "第一章";
  }
}

h1#btitun {
  &::before {
    content: "第二章";
  }
}

h1#btit3 {
  &::before {
    content: "第三章";
  }
}

h1#btit4 {
  &::before {
    content: "第四章";
  }
}

h1#btit5 {
  &::before {
    content: "第五章";
  }
}

h1#btit6 {
  &::before {
    content: "第六章";
  }
}

h1#btit7 {
  &::before {
    content: "第七章";
  }
}

h1#btit8 {
  &::before {
    content: "第八章";
  }
}

h1#btit9 {
  &::before {
    content: "第九章";
  }
}

h1#btit10 {
  &::before {
    content: "第十章";
  }
}