// **********
// ?目录及打印目录
// **********

.toc {

  padding: 32px 0 48px 0px !important;
  page: tocall;
  counter-reset: page 1;
  break-before: right;
  margin: 1rem auto;

  h2 {
    font-family: var(--font-toc-title);
    text-align: center;

    &::before {
      content: none !important;
    }
  }

  ul,
  ol {
    list-style-type: upper-roman !important;

    @media screen and (max-width:1200px) {
      margin: 1rem auto;
      column-count: 2;
    }

    ul,
    ol {
      list-style-type: lower-roman !important;
      column-count: 1;

      ul,
      ol {
        list-style-type: disc !important;
      }
    }
  }

  a {
    display: inline-block;
    color: var(--color-link);
    margin: 0.2em 0;
    font-family: var(--font-toc);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  .toc .screen-only.list {
    margin-top: 2em
  }
}

@media print {
  .toc {
    columns: 2;
    h2 {
      padding: 15mm 0 15mm;
      font: italic 300 2.5rem var(--font-toc-title) !important;
      letter-spacing: 0.2em;
      text-transform: capitalize;

      &:after {
        display: block;
        content: "";
        width: 15mm;
        height: 1.5pt;
        border-top: 0.1pt solid var(--theme-color);
        margin: 5mm auto 0;
      }
    }

    ul:first-of-type,
    ol:first-of-type {
      list-style-type: lower-roman;
    }

    ol,
    ul {
      margin-left: 0;
      li {
        margin-left: 0;
        padding: 4px;
        text-align: justify;

        &::marker {
          content: "●";
        }

        a {
          font-family: "Times New Roman", var(--font-hei-cn);
          font-size: 12pt;
        }

        li {
          margin-left: 1rem;

          a {
            font-family: "Times New Roman", var(--fong-song-cn-print);
            font-size: 10.5pt;
          }

          li {

            a {
              font-family: "Times New Roman", var(--font-fangsong);
              font-size: 10.5pt;
            }
          }
        }
      }
    }

    a {
      text-transform: capitalize;
      border-bottom: none;
      color: var(--color-text) !important;

      &::after {
        content: leader('.') target-counter(attr(href), page);
        text-align: right;
      }
    }

    .head {
      display: table-header-group;

      div {
        display: table-cell;
        text-align: right
      }
    }
  }
}